/* Pozadina za forme */
#pozadina {
    width: 100%;
    background: url('../../public/pozadina.webp');
    height: 89.2vh;
}

/* Ceo body forme */
.forma {
    height: 100vh;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* div od forme */
.odforme {
    width: 450px;
}

/* LINK */

.prijavi-se {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;
}

.mailporuka {
    text-decoration: none !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.mailporuka:hover {
    text-decoration: none !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Inputi u formi */
.inputizabusformu {
    height: auto;
    width: 100%;
}

/* Registracija dugme */

.registracijadugme {
    width: 100%;
    height: auto;
    color: #1c273c;
    font-weight: bold;
    border: 2px solid #1c273c;
    background: none;
    padding: 1%;
    border-radius: 5px;
}

/* Dizajn dugmeta kod forme za logovanje i registraciju */
.dugme {
    background-color: #1c273c;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.linkboja {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/* Strelica za vracanje */
.linkstrelica i {
    color: #1c273c;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.sendmail {
    height: 40px;
    background-color: #1c273c;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.sendmail:hover {
    background-color: #1c273c;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.vratise {
    color: #1c273c;
    font-weight: bold;
    font-size: 16px;
    margin: 4%;
}

.vratise:hover {
    color: #1c273c;
    font-weight: bold;
    font-size: 16px;
    margin: 4%;
}

.nazad {
    color: #1c273c;
    font-weight: bold;
    font-size: 14px;
}

.nazad:hover {
    color: #1c273c;
    font-weight: bold;
    font-size: 14px;
}

/* Izgled ikonice na stranici za apliciranje */
.applayingdiv i {
    color: #1c273c;
    font-size: 30px !important;
}

/* APLICIRANJE */

.applayingdiv {
    width: 40%;
    height: auto;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: start;
    padding: 1%;
}

#mail-form i {
    font-size: 20px;
}

/* Naslovi dizajn */

.text-lg {
    font-weight: bold;
}

/* Animacija za bus 1 */
@keyframes vozi {
    0% {
        transform: translateY(-40px) translateX(-1200px) scaleX(1);
    }

    49% {
        transform: translateY(-40px) translateX(100vw) scaleX(1);
    }

    50% {
        transform: translateY(-40px) translateX(100vw) scaleX(-1);
    }

    99% {
        transform: translateY(-40px) translateX(-1200px) scaleX(-1);
    }

    100% {
        transform: translateY(-40px) translateX(-1200px) scaleX(1);
    }
}

/* Animacija za bus 2 */
@keyframes vozi2 {
    0% {
        transform: translateY(10px) translateX(-1200px) scaleX(1);
    }

    49% {
        transform: translateY(10px) translateX(100vw) scaleX(1);
    }

    50% {
        transform: translateY(10px) translateX(100vw) scaleX(-1);
    }

    99% {
        transform: translateY(10px) translateX(-1200px) scaleX(-1);
    }

    100% {
        transform: translateY(10px) translateX(-1200px) scaleX(1);
    }
}

/* Dugme sa login stranice za informacije */

#infodugme {
    position: fixed;
    color: white;
    text-align: center;
    width: 50px;
    height: 45px;
    z-index: 9999;
    background-color: #1c273c;
    bottom: 70px;
    right: 50px;
    border-radius: 50%;
    cursor: pointer;
    animation: jump 0.5s ease-in infinite;
}

@keyframes jump {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Staza na pocetnoj stranici */
#staza {
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    background: url('../../public/put.png');
    background-repeat: repeat-x;
    background-size: contain;
}

/* Autobusi na pocetnoj stranici login i register forma */
#bus {
    width: 230px;
    animation: vozi 25s linear infinite;
}

#bus1 {
    width: 230px;
    z-index: 99999;
    animation: vozi2 35s linear infinite;
}