/* Pozadina za forme */
#pozadina {
    width: 100% !important;
    height: 100vh !important;
    background: url('../../public/pozadina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Ceo body forme */
.forma {
    height: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* div od forme */
.odforme {
    text-align: center !important;
    width: 380px;
    padding: 15px !important;
    margin: 4%;
    padding: 15px !important;
}

/* LINK */

.prijavi-se {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;
}

.mailporuka {
    text-decoration: none !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.mailporuka:hover {
    text-decoration: none !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Inputi u formi */
.inputizabusformu {
    height: auto;
    width: 100%;
}

/* Registracija dugme */

.registracijadugme {
    width: 100%;
    height: auto;
    color: #1c273c;
    font-weight: bold;
    border: 2px solid #1c273c;
    background: none;
    padding: 1%;
    border-radius: 5px;
}

.zaboravljenalozinka {
    color: red !important;
    cursor: pointer !important;
}

/* Dizajn dugmeta kod forme za logovanje i registraciju */
.dugmee { 
    width: 100% !important; 
    align-items: center;
    text-align: center;
    background-color: #1c273c;
    color: white;
    font-weight: bold;
    padding: 1% !important;
    border-radius: 5px;
}

/* Dugmici kod dodavanja rute */
.dugme { 
    width: 200px !important; 
    align-items: center;
    text-align: center;
    background-color: #1c273c;
    color: white;
    font-weight: bold;
    padding: 1% !important;
    border-radius: 5px;
}
/* Ikonica + kod dugmeta za dodavanje rute */
.dugme i { 
  font-size: 18px;
}

.linkboja {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/* Strelica za vracanje */
.linkstrelica i {
    color: #1c273c;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.sendmail {
    height: 40px;
    background-color: #1c273c;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.sendmail:hover {
    background-color: #1c273c;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.vratise {
    color: #1c273c;
    font-weight: bold;
    font-size: 16px;
    margin: 4%;
}

.vratise:hover {
    color: #1c273c;
    font-weight: bold;
    font-size: 16px;
    margin: 4%;
}

.nazad {
    color: #1c273c;
    font-weight: bold;
    font-size: 14px;
}

.nazad:hover {
    color: #1c273c;
    font-weight: bold;
    font-size: 14px;
}

/* Izgled ikonice na stranici za apliciranje */
.applayingdiv i {
    color: #1c273c;
    font-size: 30px !important;
}

/* APLICIRANJE */

.applayingdiv {
    width: 400px !important;
    height: auto;
    margin: 3%;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: start;
    padding: 3%;
}

#mail-form i {
    font-size: 15px !important;
}

/* Naslovi dizajn */

.text-lg {
    font-weight: bold;
}

