/* Kntenjer sa sedistima */

.bus-container {
    width: 300px !important;
    border: 2px solid gray;
    padding: 10px;
  }
  .seat {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 2px;
  }

/* Sedista */

.seat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 2px;
}
/* Selektovana sedista */
.selected-seat{
    background-color: green;
    color: white;
}

/* Dostupna sedista */
.booked-seat{
    background-color: grey;
    color: white;
    /* Ne može ponovo da selektuje već odabrano mesto */
    pointer-events: none !important;
    cursor: disabled !important;
}

.sivakocka {
    width: 30px;
    height: 30px;
    margin-top: 2%;
    background-color: grey;
}

.zelenakoca{
    width: 30px;
    height: 30px;
    margin-top: 2%;
    background-color: green;
}

.uputstvo {
    width: 100%;
}
.uputstvo p{
    padding: 2.2%;
}