/* Kntenjer sa sedistima */

.bus-container {
    width: 300px !important;
    border: 2px solid gray;
    padding: 10px;
  }
  .seat {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 2px;
  }

/* Sedista */

.seat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 2px;
}
/* Selektovana sedista */
.selected-seat{
    background-color: green;
    color: white;
}

/* Dostupna sedista */
.booked-seat{
    background-color: grey;
    color: white;
    /* Ne može ponovo da selektuje već odabrano mesto */
    pointer-events: none !important;
    cursor: disabled !important;
}

.cenaisedista {
    background-color: #1c273c ;
}

.agencijaigrad {
    background-color: #1c273c ;
}