/* Visina i sirina u formi register.js */
body {
    width: 100%;
    /* overflow-x: hidden; */
}

/* Dugme kod korisnika */
.user-premission-button{
    background-color: #1c273c;
    color: white;
}

/* Dizajn inputa globalni */

input, select {
    height: 40px;
    border: 1px solid gray;
    width: 100%;
    padding-left: 20px;
}

/* Dugme za pretrazivanje Home.js */
.buttonsearch{
    background: none;
    border: none;
}

.buttonsearch :hover {
    background: none;
    border: none;
    font-weight: bolder;
}

/* h1 responsive */

.text-2xl {
    font-size: 30px !important;
}

.text-xl {
    font-size: 25px !important;
}

.text-lg {
    font-size: 20px !important;
}

.text-md {
    font-size: 18px !important;
}

/* Za kartice boja naslova na pocetnoj stranici */

.secoundary-text {
    color: #1c273c !important;
}

/* Dugme za rezervaciju na pocetnoj stranici */

.underline {
    text-decoration: underline;
    cursor: pointer;
}

/* Dugme za rezervaciju sedista */

.dugmerezervisi {
    background-color: #1c273c;
    color: white;
    font-weight: bold;
}

.biranjesedista  h1 {
    text-align: start;
}

/* DUGME */

.primary-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.secondary-btn {
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* Dugme kod odabira sedišta */
.disabled-btn {
    background-color: gray !important;
    color: white;
    border: none !important;
    border-radius: 0px !important;
    padding: 10px 20px;
    cursor: not-allowed;
}

/* Izgled kartice za rezervaciju autobuske karte */
.karticabus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: bold;
}

.karticabus:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.rezervacija {
    width: 200px;
    color: white;
    height: 35px;
    border: none;
}

#kodbar {
    width: 100px;
    height: 60px;
}

.rezervisi{
    color: #1c273c;
    font-weight: bold;
}


/* Za i - items */

i {
    cursor: pointer;
    font-size: 26px;
}

/* h1 */
h1 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

/* Spinner/Loader dizajn */

.spinnerglavni {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c273c;
}

/* Loader */
.spinner-border {
    color: white !important;
    height: 80px !important;
    width: 80px !important;
}

