/* Glavni div */

.layout-parent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

/* Body */
.body {
    width: 100%;
    position: relative;
}

/* Role */
.role {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    text-align: center !important;
}

.role i {
    text-align: center;
    cursor: context-menu;
}

/* LOGO */
.logo {
    margin-left: 50px !important;
    max-width: 150px;
}

.ant-layout-sider-children {
    height: 100% !important;
}

/* Navigacija glavni div */
.sider {
    width: 300px;
    height: 100%;
    padding: 5%;
    background-color: #1c273c;
    text-align: center;
    justify-content: space-between;
    display: flex;
    transition: 1s;
}

.global-item-container {
    margin-top: 150px;
    height: 100%;
    align-items: center;
}

.active-menu-item {
    width: 170px !important;
    border: 2px solid white;
    border-radius: 5px;
}


/* Dizajn ikonica */
.menu-item i {
    font-size: 26px;
    margin-right: 10px;
    color: white;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
    padding: 2%;
    cursor: pointer;
    transition: 0.2s;
    gap: 12px;
}

/* dizajn slova kod ikonica */
.menu-item span {
    color: white;
    font-size: 18px;
}

.header {
    align-items: center !important;
    justify-content: space-between;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.479);
    width: 100%;
    padding: 10px;
    z-index: 99999 !important;
}

/* Sekcija sa artiklima */
.content {
    padding: 1%;
    margin: 0% 0.3%;
    text-align: center;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    height: 93vh;
}