.noresult{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: auto;
    overflow: hidden;
}